<p-table #dt [value]="resultData" dataKey="EventId"
         [expandedRowKeys]="expandedRows"
         rowExpandMode="single"
         expandableRows="true"
         (onRowExpand)="onRowExpand($event)"
         [columns]="selectedColumns"
         [reorderableColumns]="true"
         [paginator]="true"
         [rows]="10"
         sortMode="multiple"
         selectionMode="multiple" [(selection)]="selectedByClick">
  <ng-template pTemplate="caption">
    <div class="filters-container">
      <div>
        <p-multiSelect [options]="colsStatistic" [(ngModel)]="selectedColumnsStatistic"
                       (ngModelChange)="changeColumns($event)" optionLabel="header"
                       selectedItemsLabel="{0} Statistic columns selected" [style]="{minWidth: '200px'}"
                       defaultLabel="Select statistic columns"></p-multiSelect>
      </div>
      <div>
        <p-multiSelect [options]="colsEvents" [(ngModel)]="selectedColumnsEvents"
                       (ngModelChange)="changeColumns($event)" optionLabel="header"
                       selectedItemsLabel="{0} Events columns selected" [style]="{minWidth: '200px'}"
                       defaultLabel="Select events columns"></p-multiSelect>
      </div>

      <div>
        <p-multiSelect [options]="colsBets" [(ngModel)]="selectedColumnsBets"
                       (ngModelChange)="changeColumns($event)" optionLabel="header"
                       selectedItemsLabel="{0} Bets columns selected" [style]="{minWidth: '200px'}"
                       defaultLabel="Select bets column"></p-multiSelect>
      </div>
    </div>
    <div class="download-container">
      <button type="button" pButton icon="pi pi-file" iconPos="left" label="Download all data" (click)="dt.exportCSV()"></button>
      <button type="button" pButton icon="pi pi-file" iconPos="left" label="Download selection data" (click)="dt.exportCSV({selectionOnly:true})"></button>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th rowspan="4" colspan="1"></th>
      <th rowspan="4" colspan="1">№</th>
      <th [colSpan]="selectedColumnsStatistic.length">Statistic</th>
      <th [colSpan]="selectedColumnsEvents.length">Event</th>
      <th [colSpan]="selectedColumnsBets.length">Bet</th>
    </tr>
    <tr>
      <th *ngFor="let col of columns" pReorderableColumn [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                    ariaLabelDesc="Activate to sort in descending order"
                    ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body"
               let-rowData
               let-columns="columns"
               let-expanded="expanded"
               let-i="rowIndex">
    <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
      <td>
        <a href="#" [pRowToggler]="rowData">
          <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
        </a>
      </td>
      <td rowspan="1" colspan="1">
        {{i + 1}}
      </td>
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
    </tr>

  </ng-template>
  <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
    <tr>
      <td rowspan="1" colspan="2"></td>
      <td *ngFor="let col of selectedColumnsStatistic">
      </td>
      <td *ngFor="let col of selectedColumnsEvents">
      </td>
      <td *ngFor="let col of selectedColumnsBets">
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>
  <!--<ng-template pTemplate="footer">-->
  <!--<tr>-->
  <!--<td colspan="3">Totals</td>-->
  <!--<td>$506,202</td>-->
  <!--<td>$531,020</td>-->
  <!--</tr>-->
  <!--</ng-template>-->
  <ng-template pTemplate="summary">
    <ul>
      <li *ngFor="let car of selectedByClick" style="text-align: left">
        {{car.EventId}}
      </li>
    </ul>
  </ng-template>
</p-table>

